@{
    ViewBag.Title = "Home Page";
}

<!--  jumbotron intro -->

<div class="container">
    <div class="jumbotron" style="background-image:url('Images/lastheader.png');height: 405px;
width: 1138px;">

        <!-- give'm active background -->

        <div class="mainsitetext">


            <!-- <p>Empower youth through online career counseling, free training courses and helping them finding their dream job .</p> -->

            <br /><br /><br /><br /><br />

            <p><a href="#" target="_blank" class="btn-custom" style="margin-left: -60px;;">Get started today</a></p>

        </div>
    </div>
</div>

<!--  jumbotron intro end-->














<div class="container">

    <div class="fullbody" style="margin:15px -15px;">
        <!-- 3 divs images & 3 divs text -->

        <div class="learn-moreimg">
            <div class="container">
                <h1>we make your world easy </h1>
                <h3> We answer your most important question: "What do I need to do NOW, to get into a great college , get a great job and  achieve my goals?</h3>

                </br>
                <div class="row">

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="Images/999.jpg">
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="Images/753.png">
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="Images/444.jpg">
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <div class="learn-moretxt">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">

                        <h2>career planning tools</h2>
                        <p>register now and fill our form and we will provide you with a valuable information to help you to plan your career in a good way.</p>
                        <p><a href="#" target="_blank" class="btn-custom-register">register &raquo;</a></p>


                    </div>

                    <div class="col-md-4">

                        <h2>Student Guide</h2>
                        <p> we give a great attention to students in high school and we will offer them a full information about different faculties and universities. </p>
                        <p><a href="#" target="_blank" class="btn-custom-guide">Learn More &raquo;</a></p>

                    </div>

                    <div class="col-md-4">

                        <h2>Company services</h2>
                        <p>
                            we offer the fastest, easiest, most effective and cost-efficient methods for employers to find quality candidates, and for job seekers to find top jobs
                        </p>
                        <p><a href="#" target="_blank" class="btn-custom-company">Learn More &raquo;</a></p>
                    </div>


                </div>
            </div>
        </div>
        <!-- 3 divs images & 3 divs text -->
        <!-- slideshow -->
        <div class="container">
            <div class="slideshow" style="padding-right:-100px;">
                </br>
                <h3 style="padding-left:20px; color:#2C92E0;         font-weight: bold;
">
                    Do you need advice on CV or job search strategy? Do you want to meet our Career Advisors? <p style="text-align:center; padding-bottom:15px;">check the latest information and events to be updated.</p>

                </h3>
                <div id="carousel-example-generic" class="carousel slide " data-ride="carousel" data-interval="90000" data-pause="hover">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="Images/leadind.png" alt="waعinي">
                            <div class="carousel-caption">
                                <h3></h3>

                            </div>
                        </div>
                        <div class="item">
                            <img src="Images/9bba6.png" alt="waعinي">
                            <div class="carousel-caption">


                                <h3></h3>

                            </div>
                        </div>
                        <div class="item">
                            <img src="Images/study.png" alt="waعinي">
                            <div class="carousel-caption">
                                <h3></h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="Images/1111.png" alt="waعinي">
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>


                        <div class="item">
                            <img src="Images/2222.png" alt="waعinي">
                            <div class="carousel-caption">
                                <h3></h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="Images/3333.png" alt="waعinي">
                            <div class="carousel-caption">


                                <h3></h3>

                            </div>
                        </div>

                    </div>


                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- slideshow end-->























        <div class="textbeforeslaid" style="padding:25px 30px;">
            <div class="container">
                <div class="row">

                    <div class="col-md-4" style="  float: left;">
                        <h2>why join to us</h2>
                        <p>
                            We offer distinctive services for both education institutions and private clients.
                            We Empower youth through online career counseling, free training courses and helping them finding their dream job .
                        </p>
                    </div>


                    <div class="col-md-4" style="  float: left;">
                        </br></br></br>
                        <p>
                            We answer your most important question:
                            "What do I need to do NOW, to get into a great college / get a great job / achieve my goals?"
                        </p>
                    </div>

                    <div class="col-md-4" style="  float: right; padding-right:40px; ">
                        <h3 style="color:#68B3FD;  font-weight: bold;
 ">
                            Hot Offers
                        </h3>

                        <p><img width="53" height="53" alt="" src="Images/1.png" style="float: left; margin:10px;"></p>
                        <p><span style="font-weight: bold;">get a premium account</span></p>
                        <p>get a premium account for 3 months for free.</p>


                        <p><img width="53" height="53" alt="" src="Images/2.png" style="float: left; margin:10px;"></p>
                        <p><span style="font-weight: bold;">free session</span></p>
                        <p>our career expert will be giving a free presentation at Cairo university</p>


                        <p><img width="53" height="53" alt="" src="Images/3.png" style="float: left; margin:10px;" class=""></p>
                        <p><span style="font-weight: bold;">Job Fair</span></p>
                        <p><span style="font-weight: bold;"></span>fill the form to register our next job fair in next Juli.</p>
                    </div>


                    <div class="col-md-8">
                        <h2>
                            follow us now to benefit from our services
                            and get the latest offers
                        </h2>
                        </br>
                        <img width="64" height="64" alt="" src="Images/facebook-2.png">
                        <img width="64" height="64" alt="" src="Images/linkedin.png">
                        <img width="64" height="64" alt="" src="Images/twitter.png">
                    </div>
                </div>
            </div>
        </div>
